In [1]:
val spark2 = spark
import spark2.implicits._

In [2]:
// Load the data
// war_and_peace.txt has been split to 14 parts located in data directory
// fake streaming read 1 file per trigger
val text = (spark.readStream
                 .option("maxFilesPerTrigger", 1)
                 .text("data/*")
                 .as[String])

In [3]:
val counts = (text.map(line => line.replaceAll("[^a-zA-Z0-9\\s]", ""))
                  .flatMap(line => line.split("\\s+"))
                  .filter(_.nonEmpty)
                  .groupByKey(_.toLowerCase)
                  .count())

In [4]:
val query = (counts.orderBy($"count(1)" desc)
                   .writeStream
                   .outputMode("complete")
                   .format("console")
                   .start)

-------------------------------------------
Batch: 0
-------------------------------------------
+-------+--------+
|  value|count(1)|
+-------+--------+
|    the|    1891|
|    and|    1270|
|     to|    1030|
|      a|     717|
|     of|     690|
|     he|     517|
|     in|     504|
|    his|     480|
|    her|     473|
|      i|     421|
|    you|     399|
|    was|     399|
|chapter|     388|
|   that|     384|
|   with|     379|
|    she|     337|
|     it|     328|
|     is|     284|
|     at|     278|
|   said|     269|
+-------+--------+
only showing top 20 rows

-------------------------------------------
Batch: 1
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|    4605|
|  and|    2746|
|   to|    2155|
|   of|    1665|
|    a|    1527|
|   he|    1228|
|  his|    1181|
|   in|    1102|
| that|     842|
|  you|     828|
|  was|     825|
| with|     810|
|    i|     782|
|   it|     684|
|  her|     683|
|   at|     627|
|   on|     567|
|   as|     558|
| said|     552|
|  not|     543|
+-----+--------+
only showing top 20 rows

-------------------------------------------
Batch: 2
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|    7060|
|  and|    4510|
|   to|    3358|
|   of|    2712|
|    a|    2355|
|   he|    2168|
|  his|    1921|
|   in|    1775|
|  was|    1411|
| that|    1370|
| with|    1313|
|  you|    1164|
|    i|    1146|
|   it|    1078|
|   at|    1032|
|  him|     991|
|  her|     980|
|  not|     955|
|   on|     911|
|  had|     906|
+-----+--------+
only showing top 20 rows

-------------------------------------------
Batch: 3
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|    9785|
|  and|    6287|
|   to|    4684|
|   of|    3811|
|    a|    3240|
|   he|    3041|
|  his|    2623|
|   in|    2427|
|  was|    2071|
| that|    1981|
| with|    1784|
|   it|    1521|
|    i|    1495|
|  you|    1450|
|   at|    1445|
|  him|    1375|
|  had|    1370|
|  not|    1351|
|  her|    1323|
|   on|    1206|
+-----+--------+
only showing top 20 rows

-------------------------------------------
Batch: 4
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|   12100|
|  and|    8161|
|   to|    6032|
|   of|    4783|
|    a|    4137|
|   he|    3768|
|  his|    3251|
|   in|    3122|
|  was|    2648|
| that|    2584|
| with|    2278|
|  her|    2006|
|   it|    1909|
|    i|    1906|
|   at|    1825|
|  had|    1798|
|  not|    1717|
|  you|    1715|
|  him|    1704|
|   as|    1503|
+-----+--------+
only showing top 20 rows

-------------------------------------------
Batch: 5
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|   14673|
|  and|    9957|
|   to|    7363|
|   of|    5905|
|    a|    4981|
|   he|    4634|
|   in|    3918|
|  his|    3868|
|  was|    3257|
| that|    3154|
| with|    2721|
|   it|    2345|
|    i|    2333|
|  her|    2299|
|  had|    2243|
|   at|    2182|
|  him|    2141|
|  not|    2094|
|  you|    1986|
|   on|    1852|
+-----+--------+
only showing top 20 rows

-------------------------------------------
Batch: 6
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|   16997|
|  and|   11753|
|   to|    8817|
|   of|    6949|
|    a|    5715|
|   he|    5393|
|   in|    4633|
|  his|    4495|
|  was|    3881|
| that|    3794|
| with|    3181|
|  her|    2776|
|   it|    2717|
|    i|    2696|
|  had|    2685|
|  him|    2613|
|   at|    2549|
|  not|    2456|
|  you|    2289|
|   on|    2161|
+-----+--------+
only showing top 20 rows

-------------------------------------------
Batch: 7
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|   19950|
|  and|   13533|
|   to|   10290|
|   of|    8164|
|    a|    6460|
|   he|    6169|
|   in|    5310|
|  his|    5154|
|  was|    4480|
| that|    4413|
| with|    3613|
|  her|    3236|
|  had|    3140|
|   it|    3091|
|  him|    2979|
|   at|    2954|
|    i|    2944|
|  not|    2862|
|  you|    2513|
|   on|    2476|
+-----+--------+
only showing top 20 rows

-------------------------------------------
Batch: 8
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|   23095|
|  and|   15225|
|   to|   11588|
|   of|    9543|
|    a|    7257|
|   he|    6820|
|   in|    5936|
|  his|    5704|
| that|    5076|
|  was|    5072|
| with|    4020|
|  had|    3539|
|   it|    3513|
|  her|    3380|
|  him|    3292|
|   at|    3289|
|  not|    3249|
|    i|    3167|
|   on|    2860|
|   as|    2733|
+-----+--------+
only showing top 20 rows

-------------------------------------------
Batch: 9
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|   25897|
|  and|   17012|
|   to|   12974|
|   of|   10844|
|    a|    8070|
|   he|    7700|
|   in|    6685|
|  his|    6345|
| that|    5845|
|  was|    5762|
| with|    4435|
|  had|    4080|
|   it|    3942|
|  her|    3708|
|  him|    3659|
|   at|    3634|
|  not|    3626|
|    i|    3312|
|   on|    3162|
|   as|    3087|
+-----+--------+
only showing top 20 rows

-------------------------------------------
Batch: 10
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|   28494|
|  and|   18770|
|   to|   14205|
|   of|   12001|
|    a|    8916|
|   he|    8529|
|   in|    7320|
|  his|    6894|
| that|    6465|
|  was|    6341|
| with|    4875|
|  had|    4602|
|   it|    4350|
|  him|    4010|
|  her|    3982|
|   at|    3957|
|  not|    3948|
|    i|    3551|
|   on|    3425|
|   as|    3376|
+-----+--------+
only showing top 20 rows

-------------------------------------------
Batch: 11
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|   31705|
|  and|   20479|
|   to|   15374|
|   of|   13134|
|    a|    9739|
|   he|    9286|
|   in|    8060|
|  his|    7499|
| that|    7034|
|  was|    6947|
| with|    5338|
|  had|    5074|
|   it|    4764|
|  him|    4337|
|   at|    4316|
|  her|    4279|
|  not|    4259|
|    i|    3829|
|   on|    3750|
|  but|    3657|
+-----+--------+
only showing top 20 rows

-------------------------------------------
Batch: 12
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|   31707|
|  and|   20480|
|   to|   15380|
|   of|   13134|
|    a|    9739|
|   he|    9286|
|   in|    8060|
|  his|    7499|
| that|    7034|
|  was|    6947|
| with|    5338|
|  had|    5074|
|   it|    4764|
|  him|    4337|
|   at|    4317|
|  her|    4279|
|  not|    4259|
|    i|    3829|
|   on|    3750|
|  but|    3657|
+-----+--------+
only showing top 20 rows

-------------------------------------------
Batch: 13
-------------------------------------------
+-----+--------+
|value|count(1)|
+-----+--------+
|  the|   34570|
|  and|   22159|
|   to|   16716|
|   of|   14991|
|    a|   10521|
|   he|    9809|
|   in|    8801|
|  his|    7967|
| that|    7813|
|  was|    7329|
| with|    5695|
|  had|    5354|
|   it|    5179|
|  her|    4700|
|  not|    4658|
|  him|    4574|
|   at|    4538|
|    i|    4106|
|  but|    4013|
|   on|    3998|
+-----+--------+
only showing top 20 rows